:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  padding: 0;
  margin: 0;
  background-color: #eee;
}

.logo {
  display: flex;
  align-items: center;
  color: #fff;
  gap: .5rem;
  padding: 1rem;
}

.logo i {
  color: #ffd04b;
}

@media (max-width:768px) {
  .hidden-xs-and-down {
    display: none;
  }
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}